.DS_Store
/.DS_Store/
node_modules/
!assets/scss/vendor
package-lock.json
pnpm-lock.yaml
assets/build/*.txt
.git
**/*.map
composer.phar
.idea
.vscode
/libraries/vendor/
phpcs.log
/bin/
!/vendor/prefixed/
/vendor/prefixed/mpdf/mpdf/ttfonts/
phpstan.neon
